@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

html {
  --dashboard-blue: #1992D4;
  --project-yellow: #F0B429;
  --text-grey: #8a8a8a;
  --background-light-grey: #E2E8F0;
}

body {
  display: grid;
  grid-template-areas:
    'nav header-main'
    'footer footer';
}

/* Nav */

nav {
  background-color: var(--dashboard-blue);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px;
  grid-area: nav;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 300px;
}

.nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.dashboard-logo {
  height: 50px;
}

.dashboard-title {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.menu-1,
.menu-2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 8px;
}

.menu-1 > li,
.menu-2 > li {
  display: flex;
  align-items: center;
  gap: 23px;
  cursor: pointer;
}

.nav-icon {
  height: 2.6rem;
}

.nav-text {
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  color: white;
}

.container-header-main {
  display: flex;
  flex-direction: column;
  grid-area: header-main;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  padding: 10px 75px 10px 40px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  right: 0;
  gap: 10px;
  background-color: white;
}

.container-header-top {
  display: flex;
  justify-content: space-between;
}

.container-header-search {
  display: flex;
  place-items: center;
  gap: 20px;
  flex: 1;
}

.search-icon,
.notification-icon {
  height: 25px;
  cursor: pointer;
}

.search-input {
  width: 70%;
  height: 29px;
  background-color: #E2E8F0;
  border: none;
  border-radius: calc(27.5px / 2);
  padding: 5px 15px;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

.container-header-profile {
  display: flex;
  place-items: center;
  gap: 30px;
}

.account-profile-picture {
  height: 53px;
  border-radius: 50%;
}

.account-name {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.container-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header-bottom-left {
  display: flex;
  place-items: center;
  gap: 20px;
}

.intro-image {
  height: 90px;
  border-radius: 50%;
}

.container-intro {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: max-content;
  margin-right: 20px;
}

.container-intro > span:nth-child(1) {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.intro-name {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-header-bottom-right {
  display: flex;
  gap: 30px;
}

.container-header-bottom-right > li {
  list-style-type: none;
  display: flex;
}

.container-header-bottom-right > li > button {
  background-color: var(--dashboard-blue);
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 2.75fr 1fr;
  column-gap: 24px;
  background-color: var(--background-light-grey);
  padding: 37px 35px 75px 20px;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.projects > h1,
.announcements > h1,
.trending > h1 {
  font-family: Roboto, sans-serif;
  font-size: 2.1rem;
  font-weight: medium;
}

.container-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 29px;
}

.container-projects > li {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 34px 25px 28px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-left: 9px solid var(--project-yellow);
  justify-content: space-between;
  gap: 35px;
}

.container-project-info {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-family: Roboto, sans-serif;
  font-size: 1.9rem;
  font-weight: medium;
}

.project-text {
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  color: var(--text-grey);
}

.container-projects-actions {
  list-style: none;
  display: flex;
  align-self: flex-end;
  margin-right: 5px;
  gap: 30px;
}

.container-projects-actions > li > a {
  cursor: pointer;
}

.project-icon {
  height: 25px;
}

.container-announcements-trending {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Announcements */

.announcements {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.container-announcements {
  list-style: none;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.container-announcements > li {
  padding-inline: 5px;
}

.announcement-title {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: medium;
  margin-bottom: 2px;
}

.announcement-text {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: var(--text-grey);
}

.container-announcements > hr {
  height: 1px;
  background-color: var(--background-light-grey);
  margin-block: 17px;
}

/* Trending */

.trending {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.trending > menu {
  list-style-type: none;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.trending > menu > li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trending-image {
  border-radius: 50%;
  height: 50px;
}

.container-trending {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.trending-tag {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.trending-name {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: var(--text-grey);
}

/* Footer */

footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1150px) {
  nav {
    padding: 20px;
    align-items: center;
    width: 100%;
  }

  .menu-1,
  .menu-2 {
    margin: 0;
  }

  .dashboard-title,
  .nav-text {
    display: none;
  }
}

@media (max-width: 992px) {
  header {
    padding: 20px 40px;
  }

  .container-header-top {
    gap: 20px;
  }

  .account-profile-picture,
  .account-name {
    display: none;
  }

  .container-header-bottom {
    flex-direction: column;
  }

  .container-projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}