@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

:root {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div {
  height: 100vh;
  width: 100vw;
  flex: 1;
  display: grid;
}

/* Footer */

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: #0D1117;
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}